body {
    font-family: 'Segoe UI';
    display: grid;
    place-items: center;
    height: 100vh;
}

h1,
h2 {
    text-align: center;
}

h1::after {
    content: '';
    animation: textChange 6s linear;
}

@keyframes textChange {
    0% {
        content: 'Welcome to';
        color: rgb(18, 74, 226);
    }
    30% {
        content: 'WEB DEVELOPMENT';
        color: orange;
    }
    50% {
        content: 'Its All About';
    }
    100% {
        content: 'Coding 🚀 ';
        color: rgb(0, 255, 76);
    }
}

h2 {
    animation: zoom 3s alternate-reverse;
    animation-delay: 6s;
    color: white;
}

@keyframes zoom {
    0% {
        scale: 1.5;
        color: rgb(43, 42, 42);
    }
}